/* --------------------- */
/* CONFIGURAÇÕES GLOBAIS */
/* --------------------- */

@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Pontano+Sans:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: "Cactus Classical Serif", serif;
  --font-secondary: "Pontano Sans", sans-serif;
}

/* --------------------- */
/* HEADER --- CABEÇALHO  */
/* --------------------- */

header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  position: absolute;
}

.contact-header {
  position: relative;
}

.cabeçalho {
  display: flex;
  align-items: center;
}

.cabeçalho h2 a {
  text-decoration: none;
  color: white;
  margin-left: 5vw;
  margin-right: 3vw;
  font-family: "Cactus Classical Serif", serif;
  font-weight: bold;
}

.cabeçalho-contact h2 a {
  color: black;
}

.cabeçalho ul {
  display: flex;
  margin-right: 30vw;
}

.cabeçalho ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 15px;
}

.cabeçalho ul li a {
  text-decoration: none;
  color: white;
  font-family: pontano sans, sans-serif;
}

.cabeçalho-contact ul li a {
  color: black;
}

.cabeçalho .button {
}

/* --------------------- */
/* -- PLANO DE FUNDO --  */
/* --------------------- */

.background {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-home {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

/* --------------------- */
/* BACKGROUNDS DAS PAGS  */
/* --------------------- */

.bg-home {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  background-image: url("../img/fundo-inicio.jpg");
}

.bg-sobre {
  background-image: url("../img/fundo-sobre.jpg");
}
.bg-service {
  background-image: url(../img/fundo-service.jpg);
  background-position: center;
}

.bg-psi {
  background-image: url(../img/fundo-psi.jpg);
}
/* --------------------- */
/* TEXTO DE APRESENTAÇÃO  */
/* --------------------- */

.texto-inicio {
  color: white;
  font-family: "Cactus Classical Serif", serif;
}

.texto-padrao p {
  font-size: 20px;
}

.texto-padrao h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  margin-top: 20vh;
  width: 80vw;
}

.texto-home {
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 10vh;
}

.texto-home h2 {
  font-size: 3rem;
  font-weight: 300;
  width: 50vw;
}

.texto-home p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 30px;
  margin-top: 5vh;
  width: 55vw;
}

.texto-inicio-comece {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.texto-inicio-comece h2 {
  font-size: 60px;
  font-family: var(--font-primary);
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 300;
}

.texto-inicio-comece p {
  font-size: 25px;
  width: 60vw;
  font-family: var(--font-secondary);
}
/* --------------------- */
/* ------ BOTÃO  ------- */
/* --------------------- */

.button {
  padding: 20px 40px;
  background-color: #d4967d;
  border: none;
  cursor: pointer;
  font-family: "Pontano Sans", sans-serif;
  transition: 0.3s;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
}

.button a {
  color: white;
  font-weight: 300;
}

.button:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.services-summary .button {
  margin-top: 50px;
}
/* --------------------- */
/* - CONTEUDO EM BLOCO - */
/* --------------------- */

.content-block {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 0 80px;
  text-align: center;
}

.content-text {
  text-align: left;
}

.content-text h2 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 70px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 50px;
}

.content-text p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 23px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: 50px;
}

.content-image,
.content-text {
  width: 50%;
}

.content-image img {
  height: 550px;
  align-items: end;
}

.content-block.reverse {
  flex-direction: row-reverse;
}

.content-map {
  filter: grayscale(100%) contrast(100%) brightness(110%);
}

/* ---------------------- */
/* - services / PREÇOS - */
/* --------------------- */

.services {
  gap: 50px;
  height: 100vh;
  padding: 0 210px;
  margin-bottom: 50vh;
}

.services h2 {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 80px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 60px;
}

.list-iten,
.list-price {
  width: 50%;
}

.services-list {
  display: flex;
  align-items: top;
  gap: 50px;
  padding: 0 90px;
  margin-bottom: 17vh;
}

.list-iten h3 {
  font-family: var(--font-primary);
  display: flex;
  justify-items: start;
  font-size: 40px;
  font-weight: 300;
}

.list-price p {
  font-family: var(--font-secondary);
  line-height: 1.5;
}

.list-price a {
  color: #d4967d;
  text-decoration: none;
}

/* --------------------- */
/* CONTATO / FORMULARIO  */
/* --------------------- */

.contact-section {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 210px;
  text-align: center;
  background-color: #495a58;
  gap: 200px;
}

.contact-text {
  width: 40%;
  color: white;
}

.container-contato .contact-text {
  color: black;
}

.contact-text h2 {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 50px;
  text-align: left;
  margin-bottom: 7vh;
}

.contact-text p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

form {
  max-width: 500px;
  text-align: left;
}

.form-linha {
  display: flex;
  gap: 16px;
}

.form-campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  text-align: left;
  display: flex;
  color: white;
  font-family: var(--font-secondary);
}

.container-contato label {
  color: black;
}

input,
textarea {
  padding: 20px;
  font-size: 14px;
}

textarea {
  resize: none;
  margin-bottom: 5vh;
}

textarea:hover {
  background: #becac9;
  transition: 0.3s;
}

input:hover {
  background: #becac9;
  transition: 0.3s;
}

.container-sobre .chamada-para-ação {
  background-color: #dcd9d0;
  color: black;
}

.container-contato .contact-section {
  background-color: white;
}

/* --------------------- */
/* TEXTO SOBRE ABORDAGEM */
/* --------------------- */

.approach-preview {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10vw;
  margin-bottom: 22px;
}

.approach-preview h2 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 40px;
}

.approach-preview p {
  font-family: "Pontano Sans", sans-serif;
  font-size: 23px;
  line-height: 1.5;
  margin-bottom: 130px;
}

/* --------------------- */
/*  SERVIÇOS / RESUMO */
/* --------------------- */

.container-service .services-summary {
  background-color: white;
}

.services-summary {
  display: flex;
  height: 100vh;
  padding: 60px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #495a58;
}

.services-summary h3 {
  font-family: var(--font-primary);
  font-weight: 300;
  color: white;
  font-size: 3rem;
  margin-bottom: 0px;
}

.container-service .services-summary h3 {
  color: black;
  margin-top: 20px;
}

.services-summary h4 {
  color: black;
  font-family: var(--font-primary);
  margin-bottom: 50px;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  padding: 90px 0 90px 0;
}

.container-service .services-grid {
  padding: 0;
}

.service-card {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  width: 350px;
}

.service-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.container-service .services-summary p {
  color: black;
}

.service-card p {
  text-align: center;
  font-weight: 300;
  font-size: 1.1rem;
  font-family: var(--font-secondary);
}

.container-home .service-card:hover {
  transform: translateY(-10px);
}

/* --------------------- */
/* - SOBRE A TERAPEUTA -*/
/* --------------------- */

.about-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.about-preview h3 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 400;
}

.about-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-image img {
  width: 320px;
}

.about-image p {
  font-family: "Pontano Sans", sans-serif;
  font-size: 23px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* --------------------- */
/* ------ COMENTARIO ------*/
/* --------------------- */

.testimonials {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #dcd9d0;
}

.testimonials h4 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 50px;
  margin-bottom: 80px;
  font-weight: 400;
}

.testimonials p {
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

.container-service .testimonials {
  flex-direction: row;
  max-height: 100vh;
}

.testimonials-image {
  position: absolute;
  margin-right: 400px;
}

.testimonials-image img {
  width: 900px;
}

.testimonials-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  z-index: 0;
  width: 700px;
  height: 400px;
  margin-left: 450px;
}

.testimonials-text h4 {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  padding: 0 20px 0 20px;
}

.testimonials-text p {
  text-align: left;
  padding-left: 20px;
}

/* --------------------- */
/* -- CHAMADO PARA AÇÃO --*/
/* --------------------- */

.cta-footer {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #495a58;
  color: white;
}

.container-sobre .cta-footer {
  background-color: #dcd9d0;
  color: black;
}

.cta-footer h2 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 400;
}

/* --------------------- */
/* -- RODAPE / FOOTER -- */
/* --------------------- */

.rodape {
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Pontano Sans", sans-serif;
  font-weight: 300;
}

.info-rodape {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.info-rodape h3 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 300;
}

.info-rodape p {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.contato-rodape {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.contato-rodape h4 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 300;
}

.contato-rodape a {
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  color: #d4967d;
  margin-bottom: 15px;
}

.contato-rodape i {
  margin-right: 10px;
}

.nav-rodape {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav-rodape li {
  list-style: none;
  margin-bottom: 10px;
}

.nav-rodape li a {
  text-decoration: none;
  color: #d4967d;
  font-size: 20px;
}

.agendar {
  width: 700px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  font-family: var(--font-secondary);
}

.agendar-titulo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.agendar-titulo .icon {
  margin-right: 8px;
}

.agendar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  box-shadow: 0px 23px 0px -22px #818181;
}

.agendar-card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.card:first-of-type {
  border-top: none;
}

.info strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.info .tempo {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
}

.info p {
  font-size: 14px;
  color: #555;
}

button {
  background: #2b2b2b;
  color: #fff;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-primary);
}
